a {
    text-decoration: none;
}

.site--footer {
    display: flex;
    height: 150px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #4d4d4d;
    color: #d5d5d5;
}

.footer--social li {
    display: inline-block;
}

.footer--social li img {
    display: flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    margin: 0rem 2rem 0rem 0rem;
}